body {
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: #d9d9d9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

h2 {
    color: #000;
}

.form-group label {
    color: #000;
}

.btn-primary {
    background-color: #6a1b9a;
    border-color: #6a1b9a;
}

.btn-primary:hover {
    background-color: #4a148c;
    border-color: #4a148c;
}

.form-control {
    border: 1px solid #ccc;
}

#result {
    background-color: #6a1b9a;
    border: 1px solid #4a148c;
    color: #fff;
    margin-top: 10px;
}